@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,900&family=Quicksand:wght@300;400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  /* Colores */
  --color-white: #fff;
  --color-blancoSombra: #ddd;
  --color-negro: #333;
  --color-black: #000;
  --color-titulo: #00a443;
  --color-fondo: #0ac18e;
  --color-botones: #dcebe1;
  --color-intermedio: #f1f7f3;
  
  /* Tipografías */
  --font-titulos: 'Poppins', sans-serif;
}
  
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-titulos);
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: var(--color-titulo);
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */

header {
    width: 100%;
    height: 600px;
    background: var(--color-fondo);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(145, 94%, 31%, 0.459), hsla(187, 45%, 52%, 0.664)), url('https://mf.b37mrtl.ru/actualidad/public_images/2023.11/article/65442c9a59bf5b308158f4cf.jpg');
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(145, 94%, 31%, 0.459), hsla(187, 45%, 52%, 0.664)), url('https://mf.b37mrtl.ru/actualidad/public_images/2023.11/article/65442c9a59bf5b308158f4cf.jpg');
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    justify-content: space-between;
    text-align: right;
    padding: 1em 5em;
    background-color: #1f2c2430;
    border-radius: 0 0 2em 2em;

    & .logo, .enlaces{
        display: flex;
        align-items: center;
        color: var(--color-white);
    }

    & .logo img{
        width: 50px;
    }

    & .logo h3{
        padding-left: 1em;
    }
}

nav > .enlaces a{
    color:var(--color-white);
    font-weight: 500;
    text-decoration: none;
    margin-right: 3em;
}

nav > .enlaces a:hover{
    text-decoration: underline;
    color: var(--color-blancoSombra);
}

header .textos-header{
    display: flex;
    height: 450px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color:var(--color-white);
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:var(--color-white);
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* About us */

main .sobre-nosotros{
    padding: 30px 0 60px 0;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    text-align: justify;
}

.contenido-textos h3 span{
    background: var(--color-fondo);
    color: var(--color-white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    width: 2em;
    height: 2em;
    padding: 1em;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/* Galeria */


.portafolio{
    background: var(--color-intermedio);
    background-image: radial-gradient(#126d19 0.5px, transparent 0.5px), radial-gradient(#126d19 0.5px, var(--color-intermedio) 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    overflow: hidden;
}

.galeria-port{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 1em;
}

.imagen-port{
    width: 24%;
    margin-bottom: 1em;
    border-radius: 1.5em;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(172, 84%, 15%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1.5em;

    & h4, p{
        color: var(--color-white);
        text-align: center;
    }
}

.hover-galeria img{
    width: 50px;
    border-radius: 50%;
}

.hover-galeria p{
    color: var(--color-white);
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);

    & h4{
        color: var(--color-white);
        text-align: center;
    }
}

/* Clients */

.cards{
    display: flex;
    justify-content: space-evenly;
}

.clientes p{
    margin: 2em 0;
}

.about-services{
    background: var(--color-intermedio);
    padding-bottom: 3em;
    margin-bottom: 7em;
}

.servicio-cont{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.price__element{
    background-color: var(--color-botones);
    border-radius: 2em;
    width: 330px;
    padding: 40px;
    margin: 0 1.3em;
    display: grid;
    grid-gap: 1em;

    & img{
        width: 100%;
        border-radius: 1.5em;
    }

    & .price__name{
        text-align: center;
    }

    & .price__cta{
        display: block;
        padding: 1em 2em;
        border-radius: 2em;
        text-align: center;
        text-decoration: none;
        background-color: var(--color-white);
        font-weight: 600;
        color: var(--color-titulo);
    }
}

.price__element--best{
    width: 370px;
    padding: 60px 40px;
    background-color: var(--color-fondo);
    --bg-cta: #126d47;

    & .price__cta{
        background-color: var(--bg-cta);
        color: var(--color-white);
    }

    & .price__name{
        color: var(--color-intermedio);
    }
}

/*
.servicio-ind{
    width: 28%;
    text-align: center;
}

.servicio-ind img{
    width: 90%;
}

.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}

*/

@media screen and (max-width:900px){
    header{
        background-position: center;
    }

    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos{
        width: 90%;
    }

    .imagen-about-us{
        width: 90%;
    }

    /* Galeria */

    .imagen-port{
        width: 44%;
    }

    /* Clientes */

    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card{
        width: 90%;
    }

    .cards .card:first-child{
        margin-bottom: 30px;
    }

    /* servicios */

    .servicio-cont{
        justify-content: center;
        flex-direction: column;
    }

    .servicio-ind{
        width: 100%;
        text-align: center;
    }

    .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
        margin-bottom: 60px;
    }

    .servicio-ind img{
        width: 90%;
    }
}

@media screen and (max-width:500px){
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav > a{
        margin-right: 5px;
    }

    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }

    /* ABOUT US */

    .imagen-about-us{
        margin-bottom: 60px;
        width: 99%;
    }

    .sobre-nosotros .contenido-textos{
        width: 95%;
    }

    /* Galeria */

    .imagen-port{
        width: 95%;
    }

    /* Clients */

    .cards .card{
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards .card img{
        width: 90px;
        height: 90px;
    }

}